.useful {
	@apply pt-[3.375rem] pb-[5.875rem] bg-[#E5E5E5] overflow-hidden;

	@screen sm {
		@apply pb-[6.563rem];
	}
	@screen lg {
		@apply pt-[4.375rem] pb-[8.375rem];
	}
	@screen xl {
		@apply pt-[5.25rem] pb-[10rem];
	}
	@screen 2xl {
		@apply pb-[10.625rem];
	}

	&__container {
		@apply flex flex-col gap-[1.875rem];

		@screen lg {
			@apply gap-[3.125rem];
		}
	}
	&__header {
		@apply flex items-center justify-between;
	}

	&__more {
		@apply hidden;

		@screen sm {
			@apply block text-[1rem] text-[#B43637] font-bold leading-120 relative;
		}

		@screen lg {
			@apply text-[1.125rem];
		}

		&::before {
			@apply content-[''] w-full h-[0.063rem] absolute bottom-0 left-0 max-w-0 transition-all duration-300 bg-[#B43637];
		}

		@media (hover: hover) {
			@apply hover:before:max-w-full;
		}
	}
	&__slider {
		@apply w-full overflow-visible relative;

		&::before {
			@apply content-[''] hidden w-screen h-full absolute top-0 left-[-1rem] -translate-x-full bg-[#E5E5E5] z-[2];
			@screen xl {
				@apply block;
			}
		}
	}
	&__sliderSlide {
		@apply max-w-[17.125rem] w-full mr-[1.625rem];

		@screen xs {
			@apply max-w-[20.375rem] mr-[2.25rem];
		}
		@screen sm {
			@apply max-w-[23.5rem];
		}
		@screen lg {
			@apply max-w-[28.5rem];
		}
	}
	&__sliderSlideImg {
		@apply w-full overflow-hidden rounded-[0.375rem];

		@media (hover: hover) {
			&:hover {
				img {
					@apply scale-[1.05];
				}
			}
		}

		img {
			@apply w-full h-full object-cover object-center transition-transform duration-300;
		}
	}

	&__sliderSlideTitle {
		@apply text-[1rem] font-bold leading-130 mt-[1.375rem];

		@screen lg {
			@apply text-[1.125rem];
		}
	}
	&__sliderSlideText {
		@apply hidden text-[.875rem] font-medium leading-140 mt-[0.375rem];

		@screen sm {
			@apply block;
		}
		@screen lg {
			@apply text-[1rem];
		}
	}
}
