$containers: (
	default: (
		default 100% 1rem,
		xs 100% 1.5rem,
		sm 540px 1.5rem,
		md 720px 1.5rem,
		lg 960px 0.75rem,
		xl 1140px 0.75rem,
		2xl 1320px 0.75rem,
		3xl 82.5rem 0.75rem
	),
	md: (
		default 100% 1rem,
		xs 100% 1.5rem,
		sm 100% 1.5rem,
		md 720px 1.5rem,
		lg 960px 0.75rem,
		xl 1140px 0.75rem,
		2xl 1320px 0.75rem,
		3xl 82.5rem 0.75rem
	),
	lg: (
		default 100% 1rem,
		xs 100% 1.5rem,
		sm 100% 1.5rem,
		md 100% 1.5rem,
		lg 960px 0.75rem,
		xl 1140px 0.75rem,
		2xl 1320px 0.75rem,
		3xl 82.5rem 0.75rem
	),
	xl: (
		default 100% 1rem,
		xs 100% 1.5rem,
		sm 100% 1.5rem,
		md 100% 1.5rem,
		lg 100% 1.5rem,
		xl 1140px 0.75rem,
		2xl 1320px 0.75rem,
		3xl 82.5rem 0.75rem
	),
	xxl: (
		default 100% 1rem,
		xs 100% 1.5rem,
		sm 100% 1.5rem,
		md 100% 1.5rem,
		lg 100% 0.75rem,
		xl 100% 0.75rem,
		2xl 1320px 0.75rem,
		3xl 82.5rem 0.75rem
	),
	full: (
		default 100% 1rem,
		xs 100% 1.5rem,
		sm 100% 1.5rem,
		md 100% 1.5rem,
		lg 100% 0.75rem,
		xl 100% 0.75rem,
		2xl 100% 0.75rem,
		3xl 100% 0.75rem
	)
);

// Контейнеры
// container, container-md, container-lg, container-xl, container-xxl, container-full
@each $key, $value in $containers {
	@if $key != default {
		$key: '-' + $key;
	} @else {
		$key: '';
	}
	.container#{$key} {
		@each $size, $width, $padding in $value {
			@apply mx-auto w-full;
			margin: 0 auto;
			@if $size == default {
				padding-left: #{$padding};
				padding-right: #{$padding};
				max-width: #{$width};
			} @else {
				@screen #{$size} {
					padding-left: #{$padding};
					padding-right: #{$padding};
					max-width: #{$width};
				}
			}
		}
	}
}
