.button {
	@apply px-[1.375rem] w-fit bg-black overflow-hidden relative py-[0.813rem] flex items-center gap-[0.25rem] rounded-[0.75rem]  text-[0.625rem] tracking-[0.063rem] uppercase font-bold leading-100 text-white;
	mask-image: linear-gradient(to bottom, #000, #000);
	mask-size: 100% 100%;
	mask-position: center;
	mask-repeat: no-repeat;
	@screen sm {
		@apply px-[1.875rem] py-[0.875rem] text-[0.75rem];
	}

	&__follower {
		@apply absolute top-0 left-0 right-0 bottom-0 pointer-events-none will-change-transform z-[-1];
		transform-origin: 0 0;
		transform: scale(0);

		&::before {
			@apply content-[''] block w-[170%] aspect-[1] -translate-x-1/2 -translate-y-1/2 absolute top-0 left-0 pointer-events-none rounded-[50%] bg-[#AE2524];
		}
	}
}
