.header {
	@apply h-[4.375rem] w-full absolute top-0 left-0 z-[10];

	@screen lg {
		@apply h-[5.313rem];
	}

	&_fixed {
		@apply fixed -top-1/4 bg-white;
	}

	&_show {
		@apply top-0 transition-all duration-300;
	}
	&_fixed {
		box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
	}
	&_transition {
		@apply transition-all duration-300;
	}

	&__container {
		@apply flex items-center justify-between h-full;
	}
	&__right,
	&__left {
		@apply flex items-center;
	}
	&__left {
		@apply gap-[3.125rem] text-white;
	}

	&__logo {
		@apply text-[1.5rem] font-black leading-130 tracking-[0.07em] uppercase transition-all duration-300;
		@screen xs {
			@apply text-[1.938rem];
		}
		font-family: var(--font-intro);
	}
	&__nav {
		@apply h-full fixed top-0 right-0 translate-x-full;

		@screen xl {
			@apply static;
			transform: initial;
		}
	}
	&__list {
		@apply flex items-center gap-[1.5rem];
	}
	&__listItem {
		@apply flex flex-col;
	}
	&__listItemLink {
		@apply text-[0.875rem] font-semibold leading-130 relative flex items-center gap-[0.25rem] transition-all duration-300;

		@media (hover: hover) {
			@apply hover:before:max-w-full;
		}
		// &::after {
		// 	@apply content-[''];
		// }
		&::before {
			@apply content-[''] absolute bottom-[-0.125rem] left-0 w-full h-[0.063rem] max-w-0 bg-white transition-all duration-500;
			mix-blend-mode: difference;
		}
	}

	&__burger {
		@apply block w-[1.875rem] h-[1.875rem] text-white cursor-pointer;

		@screen xs {
			@apply w-[2.25rem] h-[2.25rem];
		}
		@screen xl {
			@apply hidden;
		}

		svg {
			@apply w-full h-full;
		}
	}

	&__right {
		@apply hidden items-center gap-[1.75rem] text-white;

		@screen xl {
			@apply flex;
		}
	}

	&__getLangs {
		@apply mr-[1.625rem];
	}
	&__getLangs,
	&__getCity,
	&__getProject {
		@apply font-semibold leading-140 text-[0.875rem]  tracking-[0.05em] transition-all duration-300;
	}

	&__getProject {
		@apply text-[0.625rem] uppercase flex items-center gap-[0.75rem] border border-white rounded-[1.375rem] relative w-[9.75rem] h-[2.25rem] overflow-hidden transition-all duration-500;

		&_hover {
			@apply border-[#9F231C];
		}
	}
	&__getProjectHover {
		@apply w-[1.688rem] h-[1.688rem] rounded-full bg-[#9F231C] flex items-center justify-center text-transparent relative shrink-0 left-[0.25rem] overflow-hidden transition-all duration-300;
		&::before {
			@apply content-[''] absolute transition-all duration-500;
			left: calc(50% - 0.2rem);
			border: 0.375rem solid transparent;
			border-left: 0.6rem solid #fff;
		}
	}

	&__getProject_hover &__getProjectHover {
		@apply left-0 w-full h-full before:right-0 before:left-[initial] before:scale-0 text-inherit;
	}
	&__getProjectMain {
		// @apply pl-[2.813rem];
		@apply text-nowrap;
	}

	&__getLangs,
	&__getCity {
		@apply relative;
		&::before {
			@apply content-[''] absolute bottom-[-0.125rem] left-0 w-full h-[0.063rem] max-w-0 bg-white transition-all duration-500;
			mix-blend-mode: difference;
		}
		@media (hover: hover) {
			@apply hover:before:max-w-full;
		}
	}
	&__getCity {
		@apply ml-[0.5rem];
		&::after {
			@apply content-[''] absolute left-[-0.5rem] top-1/2 -translate-y-1/2 w-[0.25rem] h-[0.25rem] rounded-full bg-white transition-all duration-300;
		}
	}
	&_fixed &__getProject {
		@apply border-black;
	}
	&_fixed &__getCity {
		&::after {
			@apply bg-black;
		}
	}
	&_fixed &__left,
	&_fixed &__right {
		@apply text-black;
	}

	&_fixed &__getProject_hover {
		@apply border-[#9F231C];
	}

	&_fixed &__getProject_hover &__getProjectHover {
		@apply text-white;
	}
	&_fixed &__burger {
		@apply text-black;
	}
}
