/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.1_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.2/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/.pnpm/next@14.2.1_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.2/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/.pnpm/next@14.2.1_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.2/node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/.pnpm/next@14.2.1_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.2/node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/ui/input/input.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.input_input__zyT9L {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.875rem;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column
}
.input_input__label__RFrbf {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 110%;
  --tw-text-opacity: 1;
  color: rgb(229 229 229 / var(--tw-text-opacity));
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms
}
@media (min-width: 1200px) {
  .input_input__label__RFrbf {
    font-size: 0.875rem
  }
}
.input_input__input__G9NX2 {
  position: relative;
  height: 100%;
  width: 100%;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(255 255 255 / var(--tw-border-opacity));
  background-color: transparent;
  outline: 2px solid transparent;
  outline-offset: 2px
}
.input_input_focused__IXWbI .input_input__label__RFrbf {
  top: 0px;
  --tw-translate-y: -100%;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      -ms-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  font-size: 0.625rem
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.1_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.2/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/.pnpm/next@14.2.1_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.2/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/.pnpm/next@14.2.1_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.2/node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/.pnpm/next@14.2.1_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.2/node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/ui/switcher/switcher.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.switcher_switcher__26yrN {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  font-size: .875rem;
  font-weight: 600;
  line-height: 120%
}
@media (min-width: 992px) {
  .switcher_switcher__26yrN {
    gap: 1rem
  }
}
@media (min-width: 1200px) {
  .switcher_switcher__26yrN {
    gap: 0.625rem
  }
}
@media (min-width: 1400px) {
  .switcher_switcher__26yrN {
    font-size: 1rem
  }
}
.switcher_switcher__container__uPaOE {
  position: relative;
  height: 1.25rem;
  width: 2.375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(152 152 152 / var(--tw-bg-opacity))
}
.switcher_switcher__state__fTqMI {
  position: absolute;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.125rem
}
.switcher_switcher__stateRing__gAYsL {
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms
}
.switcher_switcher__26yrN:has(input:checked) .switcher_switcher__stateRing__gAYsL {
  --tw-translate-x: 1.125rem;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      -ms-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.switcher_switcher__26yrN:has(input:checked) .switcher_switcher__container__uPaOE {
  --tw-bg-opacity: 1;
  background-color: rgb(68 173 79 / var(--tw-bg-opacity))
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.1_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.2/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/.pnpm/next@14.2.1_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.2/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/.pnpm/next@14.2.1_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.2/node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/.pnpm/next@14.2.1_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.2/node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/callback/Callback.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Callback_form___YomO {
  width: 100%
}
.Callback_form__text__ZKMy1 {
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 150%
}
@media (min-width: 476px) {
  .Callback_form__text__ZKMy1 {
    margin-top: 1.25rem
  }
}
@media (min-width: 576px) {
  .Callback_form__text__ZKMy1 {
    font-size: 1rem
  }
}
@media (min-width: 1400px) {
  .Callback_form__text__ZKMy1 {
    margin-top: 1.875rem;
    font-size: 1.125rem
  }
}
.Callback_form__inputs__eRDB9 {
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem
}
@media (min-width: 576px) {
  .Callback_form__inputs__eRDB9 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row
  }
}
@media (min-width: 992px) {
  .Callback_form__inputs__eRDB9 {
    gap: 3rem
  }
}
@media (min-width: 1200px) {
  .Callback_form__inputs__eRDB9 {
    gap: 4.75rem
  }
}
@media (min-width: 1400px) {
  .Callback_form__inputs__eRDB9 {
    margin-top: 3.125rem
  }
}
.Callback_form__input__3_Dal label {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}
.Callback_form__input__3_Dal input {
  border-bottom-width: 0.125rem;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(0 0 0 / var(--tw-border-opacity))
}
.Callback_form__theme__OW8Vc {
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem
}
@media (min-width: 992px) {
  .Callback_form__theme__OW8Vc {
    margin-top: 3.375rem
  }
}
@media (min-width: 1400px) {
  .Callback_form__theme__OW8Vc {
    margin-top: 4rem
  }
}
.Callback_form__label__M1iJQ {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 120%;
  --tw-text-opacity: 1;
  color: rgb(152 152 152 / var(--tw-text-opacity))
}
@media (min-width: 1400px) {
  .Callback_form__label__M1iJQ {
    font-size: 1rem
  }
}
.Callback_form__themeTypes__uo0H_ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem
}
@media (min-width: 576px) {
  .Callback_form__themeTypes__uo0H_ {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
    row-gap: 1.875rem
  }
}
@media (min-width: 992px) {
  .Callback_form__themeTypes__uo0H_ {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem
  }
}
@media (min-width: 1200px) {
  .Callback_form__themeTypes__uo0H_ {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem
  }
}
@media (min-width: 1400px) {
  .Callback_form__themeTypes__uo0H_ {
    -webkit-column-gap: 2.125rem;
       -moz-column-gap: 2.125rem;
            column-gap: 2.125rem
  }
}
.Callback_form__textarea__wQtqK {
  margin-top: 2.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem
}
.Callback_form__textarea__wQtqK textarea {
  min-height: 5.875rem;
  resize: none;
  --tw-bg-opacity: 1;
  background-color: rgb(238 238 238 / var(--tw-bg-opacity));
  padding: 0.75rem
}
.Callback_form__textarea__wQtqK textarea:focus {
  right: 0px;
  border-width: 0px;
  outline-width: 0px
}
@media (min-width: 1400px) {
  .Callback_form__textarea__wQtqK textarea {
    min-height: 7.625rem
  }
}
.Callback_form__actions__HzOIc {
  margin-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem
}
@media (min-width: 476px) {
  .Callback_form__actions__HzOIc {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
  }
}
.Callback_form__actions__HzOIc button {
  -ms-flex-negative: 0;
      flex-shrink: 0
}
.Callback_form__privacy__MN_fz {
  font-size: .75rem;
  font-weight: 500;
  line-height: 130%
}
@media (min-width: 476px) {
  .Callback_form__privacy__MN_fz {
    max-width: 13.25rem
  }
}
@media (min-width: 576px) {
  .Callback_form__privacy__MN_fz {
    max-width: 21.625rem;
    font-size: .875rem
  }
}
@media (min-width: 1400px) {
  .Callback_form__privacy__MN_fz {
    max-width: 100%
  }
}
.Callback_form__privacy__MN_fz span {
  position: relative;
  cursor: pointer;
  font-weight: 700
}
.Callback_form__privacy__MN_fz span::before {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 0.063rem;
  width: 100%;
  max-width: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  --tw-content: "";
  content: var(--tw-content)
}
@media (hover: hover) {
  .Callback_form__privacy__MN_fz span:hover::before {
    content: var(--tw-content);
    max-width: 100%
  }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.1_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.2/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/.pnpm/next@14.2.1_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.2/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/.pnpm/next@14.2.1_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.2/node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/.pnpm/next@14.2.1_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.2/node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/ui/uploadFile/UploadFile.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.UploadFile_upload__AZoA1 {
  margin-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem
}
.UploadFile_upload__label__1zPnX {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  gap: 0.5rem
}
.UploadFile_upload__label__1zPnX svg {
  min-height: 1.875rem;
  min-width: 1.875rem
}
.UploadFile_upload__text__r13BG {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .625rem;
     -moz-column-gap: .625rem;
          column-gap: .625rem;
  row-gap: .25rem;
  font-size: .875rem;
  font-weight: 600;
  line-height: 120%
}
@media (min-width: 1400px) {
  .UploadFile_upload__text__r13BG {
    font-size: 1rem
  }
}
.UploadFile_upload__text__r13BG span {
  font-size: .75rem;
  --tw-text-opacity: 1;
  color: rgb(152 152 152 / var(--tw-text-opacity))
}
@media (min-width: 576px) {
  .UploadFile_upload__text__r13BG span {
    font-size: .875rem
  }
}
.UploadFile_upload__content__lNL4A {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem
}
@media (min-width: 1200px) {
  .UploadFile_upload__content__lNL4A {
    gap: .75rem
  }
}
.UploadFile_upload__contentItem__c4hSz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .625rem
}
.UploadFile_upload__contentItem__c4hSz span {
  font-size: .875rem;
  font-weight: 500;
  line-height: 120%;
  -webkit-transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms
}
.UploadFile_upload__contentItem_loading__oEDu8 span {
  font-size: .875rem;
  font-weight: 500;
  line-height: 120%;
  --tw-text-opacity: 1;
  color: rgb(152 152 152 / var(--tw-text-opacity))
}
.UploadFile_upload__icon__blvYd {
  height: 1.5rem;
  width: 1.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}
.UploadFile_upload__icon__blvYd svg {
  height: 100%;
  width: 100%
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.1_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.2/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/.pnpm/next@14.2.1_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.2/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/.pnpm/next@14.2.1_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.2/node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/.pnpm/next@14.2.1_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.2/node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/contact/contact.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.contact_contact__yeABA {
  width: 100%
}
@media (min-width: 992px) {
  .contact_contact__yeABA {
    max-width: 15rem
  }
}
@media (min-width: 1200px) {
  .contact_contact__yeABA {
    max-width: 19.125rem
  }
}
.contact_contact__time__l1f_N {
  margin-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 120%
}
.contact_contact__time__l1f_N svg {
  height: 1rem;
  width: 1rem
}
.contact_contact__contentInfo__qteEm {
  margin-top: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem
}
@media (min-width: 476px) {
  .contact_contact__contentInfo__qteEm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3.75rem
  }
}
@media (min-width: 576px) {
  .contact_contact__contentInfo__qteEm {
    margin-top: 0.875rem
  }
}
@media (min-width: 992px) {
  .contact_contact__contentInfo__qteEm {
    margin-top: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.25rem
  }
}
@media (min-width: 1200px) {
  .contact_contact__contentInfo__qteEm {
    gap: 3.125rem
  }
}
.contact_contact__contentInfo__qteEm a {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content
}
.contact_contact__contentInfo__qteEm a::before {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 0.063rem;
  width: 100%;
  max-width: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  --tw-content: "";
  content: var(--tw-content)
}
@media (hover: hover) {
  .contact_contact__contentInfo__qteEm a:hover::before {
    content: var(--tw-content);
    max-width: 100%
  }
}
.contact_contact__contentInfoBox__16xQl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 11rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 120%
}
@media (min-width: 576px) {
  .contact_contact__contentInfoBox__16xQl {
    gap: 1.625rem;
    font-size: 1.25rem
  }
}
@media (min-width: 992px) {
  .contact_contact__contentInfoBox__16xQl {
    gap: 1.25rem
  }
}
@media (min-width: 1200px) {
  .contact_contact__contentInfoBox__16xQl {
    font-size: 1.5rem
  }
}
.contact_contact__contentInfoAddress__YOLik {
  margin-top: 0.75rem;
  line-height: 140%
}
@media (min-width: 476px) {
  .contact_contact__contentInfoAddress__YOLik {
    margin-top: 0.625rem
  }
}
@media (min-width: 576px) {
  .contact_contact__contentInfoAddress__YOLik {
    margin-top: 0.25rem
  }
}
@media (min-width: 992px) {
  .contact_contact__contentInfoAddress__YOLik {
    margin-top: 1rem
  }
}
@media (min-width: 1200px) {
  .contact_contact__contentInfoAddress__YOLik {
    margin-top: 1.875rem
  }
}
